@layer base, utils, components;

@import "@webtui/css";
@import "@webtui/theme-catppuccin";
@import "@webtui/plugin-nf";
@import "@/styles/flexbox.css";
@import "@/styles/commands.css";
@import "@/styles/grid.css";

@layer base {
  :root {
    --font-family: "JetBrains Mono", Menlo, Monaco, monospace,
      "Symbols Nerd Font";
    --font-size: 20px;
    --line-height: 1.4;
  }

  [is-="tooltip-content"] {
    background-color: var(--background1);
    padding: 0 10px 0 10px;
  }

  html,
  body {
    background-color: var(--crust);
    padding: 1px;
  }

  main {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--background0);
  }

  a {
    color: var(--sky);
    text-decoration: underline;
  }
  a:hover {
    color: var(--blue);
  }

  pre {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (max-width: 630px) {
    :root {
      --font-size: 16px;
    }
  }
}
