<nav is-="column">
  <row align-="between">
    <row>

      <div is-="tooltip">
        <div is-="tooltip-trigger">
          <a href="/">
            <pre class="nav-item">
░█░█░█▀█░█▄█░█▀▀
░█▀█░█░█░█░█░█▀▀
░▀░▀░▀▀▀░▀░▀░▀▀▀
            </pre>
          </a>
        </div>
        <div is-="tooltip-content" position-="bottom baseline-left">
          <p>Return to the command terminal</p>
        </div>
      </div>

<pre class="nav-item-delimiter">
░░░█
░▄▀░
░▀░░
</pre>

      <div is-="tooltip">
        <div is-="tooltip-trigger">
          <button id="theme-switch" size-="small">
            <pre class="nav-item">
░▀█▀░█░█░█▀▀░█▄█░█▀▀
░░█░░█▀█░█▀▀░█░█░█▀▀
░░▀░░▀░▀░▀▀▀░▀░▀░▀▀▀
            </pre>
          </button>
        </div>
        <div is-="tooltip-content" position-="bottom baseline-left">
          <p>Switch dark/light theme</p>
        </div>
      </div>

    </row>
    
<!--     <div is-="tooltip"> -->
<!--       <div is-="tooltip-trigger"> -->
<!--         <button id="theme-switch" size-="small"> -->
<!--           <pre class="nav-item"> -->
<!-- ░█▀▀░█▀▀░█▀█░█▀▄░█▀▀░█░█ -->
<!-- ░▀▀█░█▀▀░█▀█░█▀▄░█░░░█▀█ -->
<!-- ░▀▀▀░▀▀▀░▀░▀░▀░▀░▀▀▀░▀░▀ -->
<!--           </pre> -->
<!--         </button> -->
<!--       </div> -->
<!--       <div is-="tooltip-content" position-="bottom baseline-left"> -->
<!--         <p>Search something</p> -->
<!--       </div> -->
<!--     </div> -->

  </row>
</nav>

<style>
  button {
    display: contents;
  }

  a {
    text-decoration: none;
  }

  nav {
    /* padding: 0 10px 0 10px; */
    height: 35px;
    background-color: var(--crust);
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--foreground2);
    z-index: 2;
  }

  .nav-item-delimiter {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    line-height: 1.1;
    font-size: 10px;
    background: var(--foreground2);
    background-clip: text;
  }
  .nav-item {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    line-height: 1.1;
    font-size: 10px;
    background: var(--foreground2);
    background-clip: text;
  }
  .nav-item:hover {
    background: linear-gradient(
        90deg, 
        var(--sky) 0%,
        var(--blue) 50%,
        var(--sapphire) 100%
    );
    background-clip: text;
    cursor: pointer;
  }
</style>
