<row id="welcome" is-="column">
<div id="header-container">
<span id="copyright">&copy; 2025 Lukas Moeller. All Rights Reserved.</span>
<br>
<div is-="tooltip">
  <div is-="tooltip-trigger">
<pre id="header">
╦ ╦┌─┐┬  ┌─┐┌─┐┌┬┐┌─┐   ╔═╗┌┬┐┬─┐┌─┐┌┐┌┌─┐┌─┐┬─┐┬
║║║├┤ │  │  │ ││││├┤    ╚═╗ │ ├┬┘├─┤││││ ┬├┤ ├┬┘│
╚╩╝└─┘┴─┘└─┘└─┘┴ ┴└─┘,  ╚═╝ ┴ ┴└─┴ ┴┘└┘└─┘└─┘┴└─o
</pre>
  </div>
    <div is-="tooltip-content" position-="top baseline-bottom">
      <p>Secrets hide here. Uncover them! &#xf0208; open!</p>
    </div>
</div>
<!-- when found enables admin features -->
<input id="secret-button" type="radio" />

<div is-="tooltip">
  <div is-="tooltip-trigger">
    <span id="quickstart" is-="badge" variant-="blue" >&#xf0313; Type something or &#xf0cfd; click underneath</span></summary>
  </div>
  <div is-="tooltip-content" position-="top baseline-bottom" style="padding: 28px 12px;">
      <p>Try the command <span is-="badge" variant-="green">ls</span> to see all hidden commands.</p>
    </div>
</div>

</div>
</row>

<style>
  row {
    padding: 10px;
  }

  #header-container {
    position: relative;
  }

  details div {
	  background-color: var(--background1);
	  padding: 1lh 1ch;
  }

  [is-="popover"] {
	  --popover-backdrop-color: rgba(0, 0, 0, 0.5);
  }

  #header {
    padding: 0 0 10px 10px;
    background: linear-gradient(
        90deg, 
        var(--red) 0%,
        var(--peach) 50%,
        var(--yellow) 100%
    );
    background-clip: text;
  }

  #welcome {
    padding: 0;
    border-bottom: 1px solid var(--background1);
    padding-bottom: 10px;
  }

  #quickstart {
    padding-left: 10px;
  }

  #copyright {
    padding-left: 10px;
    color: var(--background1);
    font-size: 16px;
  }
  #secret-message {
    color: var(--background0);
    font-size: 16px;
  }
  #secret-message:hover {
    color: var(--red);
  }
  #secret-message:active {
    color: var(--red);
  }
  #secret-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
    font-size: 16px;
  }
  #secret-button:before {
    background: none;
    color: var(--background0)
  }
  
  @media (max-width: 630px) {
    #header {
      --font-size: 15px;
    }
    #quickstart {
      font-size: 18px;
    }
  }
  @media (max-width: 480px) {
    #header {
      --font-size: 10px;
    }
    #quickstart {
      font-size: 14px;
    }
  }
</style>
 
<script>
const secretButton = document.getElementById('secret-button') as HTMLInputElement;
const welcome = document.getElementById('welcome') as HTMLInputElement;
const promptGuest = document.getElementById('prompt-guest') as HTMLInputElement;

secretButton.addEventListener("click", () => {
  if (secretButton.checked) {
    secretButton.style = "background: var(--red);"
    promptGuest.innerText = 'admin';
  }
});

welcome.addEventListener('click', (event) => {
  welcome.classList.toggle('selected');
  event.stopPropagation(); 
});

document.addEventListener('click', () => {
  welcome.classList.remove('selected');
});

</script>
