---
import '@/styles/global.css';
---

<!doctype html>
<html lang="en" data-webtui-theme="catppuccin">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <meta name="generator" content={Astro.generator} />
    <title>42LM</title>

    <!-- Icon(s) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <!-- OpenGraph / X Title -->
    <meta property="og:title" content="42LM" />
    <meta name="twitter:title" content="42LM" />

    <!-- OpenGraph / X Description -->
    <meta
      name="description"
      content="Tiny homepage of 42LM (https://github.com/42LM)"
    />
    <meta
      name="og:description"
      content="Tiny homepage of 42LM (https://github.com/42LM)"
    />
    <meta
      name="twitter:description"
      content="Tiny homepage of 42LM (https://github.com/42LM)"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
